@import url("https://fonts.googleapis.com/css?family=VT323");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    background: #28282B;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h1 {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'VT323';
    font-size: 100px;
    font-optical-sizing: auto;
    -webkit-font-smoothing: none;
    color: #FAF9F6;
    padding: 0 10px;
    border-radius: 50px;
    position: relative;
    top: 10px;
}